button {
    border-radius: 100px;
    background-color: #ffff;
    outline: transparent;
    font-size: larger;
    padding: 18px;
    border: 1px solid black;
    width: 60%;
    margin: auto;
}

button:hover {
    background-color: #0195ee;
    border: 1px solid #0195ee
}