input {
    display: block;
    border-radius: 100px;
    font-size: medium;
    padding: 8px;
    border: 1px solid #020202CC;
}

select {
    display: block;
    border-radius: 100px;
    font-size: medium;
    padding: 6px;
    border: 1px solid #020202CC;
}

select:focus {
    outline: 1.2px solid #0195ee;
}


input:focus {
    outline: 1.2px solid #0195ee;
}

label {
    font-weight:500;
}

.buttonSave {
    border-radius: 100px;
    background-color: #ffff;
    outline: transparent;
    font-size: large;
    border: 1px solid black;
    margin-top: 20px;
    padding: 8px;
}

.buttonSave:hover {
    background-color: #0195ee;
    border: 1px solid #0195ee
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-top: 8px;
}

span {
    color: #0195ee;
    font-size: medium;
}

span:active {
    color: black;
}

h1 {
    font-size: x-large;
    color: #0195ee;
}
